In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("validation_labels.csv")

In [3]:
df.head()

                                              labels  imageId
0  [u'62', u'17', u'66', u'214', u'105', u'137', ...        1
1  [u'95', u'17', u'66', u'214', u'164', u'137', ...        2
2  [u'122', u'19', u'66', u'186', u'180', u'44', ...        3
3  [u'190', u'222', u'66', u'153', u'164', u'226'...        4
4  [u'62', u'66', u'153', u'171', u'111', u'137',...        5

In [4]:
df = df["labels"]

In [5]:
df.head()

0    [u'62', u'17', u'66', u'214', u'105', u'137', ...
1    [u'95', u'17', u'66', u'214', u'164', u'137', ...
2    [u'122', u'19', u'66', u'186', u'180', u'44', ...
3    [u'190', u'222', u'66', u'153', u'164', u'226'...
4    [u'62', u'66', u'153', u'171', u'111', u'137',...
Name: labels, dtype: object

In [6]:
k = []
m = []
for i in df:
    n = []
    res = str(i)[1:-1]
    a = res.split(',')
    for j in a:
        j = j.replace('u', '')
        j =  j.replace("'", "")
        j = int(j.strip())
        n.append(j)
        if j not in k:
             k.append(j)
    m.append(n)
k = sorted(k)
print(k)
print(len(k))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228]
223

In [8]:
m = []
for i in k:
    y = str("u"+str(i))
    m.append(y)

In [9]:
m

['u1',
 'u2',
 'u3',
 'u4',
 'u5',
 'u6',
 'u7',
 'u8',
 'u9',
 'u10',
 'u11',
 'u12',
 'u13',
 'u14',
 'u15',
 'u17',
 'u18',
 'u19',
 'u20',
 'u21',
 'u22',
 'u23',
 'u24',
 'u25',
 'u26',
 'u27',
 'u28',
 'u29',
 'u30',
 'u31',
 'u32',
 'u33',
 'u34',
 'u35',
 'u36',
 'u37',
 'u38',
 'u39',
 'u40',
 'u41',
 'u42',
 'u43',
 'u44',
 'u45',
 'u47',
 'u48',
 'u49',
 'u50',
 'u51',
 'u52',
 'u53',
 'u54',
 'u55',
 'u56',
 'u57',
 'u58',
 'u59',
 'u60',
 'u61',
 'u62',
 'u63',
 'u64',
 'u65',
 'u66',
 'u67',
 'u68',
 'u69',
 'u70',
 'u71',
 'u72',
 'u73',
 'u74',
 'u75',
 'u76',
 'u77',
 'u78',
 'u79',
 'u80',
 'u81',
 'u82',
 'u83',
 'u84',
 'u85',
 'u86',
 'u87',
 'u88',
 'u89',
 'u90',
 'u91',
 'u92',
 'u93',
 'u94',
 'u95',
 'u97',
 'u98',
 'u99',
 'u100',
 'u101',
 'u102',
 'u103',
 'u104',
 'u105',
 'u106',
 'u107',
 'u108',
 'u109',
 'u110',
 'u111',
 'u112',
 'u113',
 'u114',
 'u115',
 'u116',
 'u117',
 'u118',
 'u119',
 'u120',
 'u121',
 'u122',
 'u123',
 'u124',
 'u125',
 'u126',
 'u127',
 'u128',
 'u129',
 'u130',
 'u131',
 'u132',
 'u133',
 'u134',
 'u135',
 'u136',
 'u137',
 'u138',
 'u139',
 'u140',
 'u141',
 'u142',
 'u143',
 'u144',
 'u145',
 'u146',
 'u147',
 'u148',
 'u149',
 'u150',
 'u151',
 'u152',
 'u153',
 'u154',
 'u155',
 'u156',
 'u157',
 'u158',
 'u159',
 'u160',
 'u163',
 'u164',
 'u165',
 'u166',
 'u167',
 'u168',
 'u169',
 'u170',
 'u171',
 'u172',
 'u173',
 'u174',
 'u175',
 'u176',
 'u177',
 'u178',
 'u179',
 'u180',
 'u181',
 'u182',
 'u183',
 'u184',
 'u185',
 'u186',
 'u187',
 'u188',
 'u189',
 'u190',
 'u191',
 'u192',
 'u193',
 'u194',
 'u195',
 'u196',
 'u197',
 'u198',
 'u199',
 'u200',
 'u201',
 'u202',
 'u203',
 'u204',
 'u205',
 'u206',
 'u207',
 'u208',
 'u209',
 'u210',
 'u211',
 'u212',
 'u213',
 'u214',
 'u215',
 'u216',
 'u217',
 'u218',
 'u219',
 'u220',
 'u221',
 'u222',
 'u223',
 'u224',
 'u225',
 'u226',
 'u227',
 'u228']

In [10]:
df = pd.DataFrame(m)

In [11]:
df = df.transpose()

In [12]:
df.to_csv("k.csv",index = False)

In [ ]:
mat = []
for i in m:
    u = [0]* len(k)
    for j in i:
        l = k.index(j)
        u[l] = 1
    mat.append(u)
print(mat)

In [ ]:
df = pd.DataFrame(mat)

In [ ]:
df.head()

In [ ]:
df = df.to_csv("NIT.csv",index = False)